!!!5
%html
  %head
    %title AppVezba

    = stylesheet_link_tag  'active_admin',  'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    .navbar.navbar-default
      .row.container-fluid
        .col-md-3.navbar-header
          = link_to image_tag "Logo.png", class: "brand navbar-left"

        .col-md-9
          %ul.navbar-right
            %li= link_to 'Начало', "#", class: "menu-btn"
            %li= link_to "За нас", "#", class: "menu-btn"
            %li= link_to 'Шевици', regions_path, class: "menu-btn #{current_page?(regions_path(:region_id)) ? "current" : nil }"
            -# %li= link_to "BLOG"
            -# %li= link_to "CONTACTS"

          .nav-right
            %ul.nav-menu-right.navbar-right
              %li.social-btn.fb-en= link_to 'fb', "https://www.facebook.com/groups/vezba/"

    = yield

    .footer
      .container-fluid
        %p Created By
        = link_to 'Gloria Angelova', "http://gloryangelova.com"
