!!!5
%html
  %head
    %title AppVezba

    = stylesheet_link_tag  'active_admin',  'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    .navbar.navbar-default
      .row.container-fluid
        .col-md-3.navbar-header
          = link_to image_tag "Logo.png", class: "brand navbar-left"

        .col-md-9
          %ul.navbar-right
            %li= link_to "Начало", root_path, class: "menu-btn"
            %li= link_to "Идея", welcome_about_path, class: "menu-btn #{current_page?(welcome_about_path) ? "current" : nil }"
            %li= link_to "Шевици", regions_path, class: "menu-btn #{current_page?(regions_path) ? "current" : nil }"
            %li= link_to "Блог", '#'
            %li= link_to "Контакти", '#'

    = yield

  .footer
    .container-fluid
      %span Created By
      %span= link_to 'Gloria Angelova', "http://gloryangelova.com"
      %p.social-btn.fb-en= link_to 'f', "https://www.facebook.com/groups/vezba/"
